
<div style="float: right; width: 1565px;"><button routerLink="/create-blog" mat-raised-button color="primary" id="create">New</button></div>
{{message}}
@if(blogList!=null && blogList.length>0){
<mat-list>
  @for (blog of blogList; track blog) {
  <mat-list-item>
    <div matListItemTitle style="border: 1px solid black;">{{blog.text}}</div>
    <div class="row">
      <div class="col" style="width: 100px;">Created: {{blog.userName}}</div>
      <div class="col" style="width: 500px;">Created Date: {{datepipe.transform(blog.dateCreated, 'dd-MMM-YYYY')}}</div>
      <div class="col" style="width: 50px;"><button mat-raised-button color="primary" (click)="edit(blog.id!)">Edit</button></div>
      <div class="last" style="width: 900px;"><button mat-raised-button color="warn" (click)="delete(blog.id!)">Delete</button></div>
    </div>
    <div class="row"><div class="col" matListItemLine></div></div>
  </mat-list-item>
  }
</mat-list>
}

